{% extends 'template.html.twig' %}
{% block title %} ajout terminé  {% endblock %}


{% block body %}
    <h1> Titre du PFE : {{ pfe.title }}</h1>
    <h2>Nom du l'étudiant : {{ pfe.nomEtudiant }}</h2>
    <h2>Entreprise: {{ pfe.entreprise }}</h2>
{% endblock %}